.row.display-pic-row {
  height: 15em;
  width: 100%;
  padding-top: 4em;
}

.responsive-img.hoverable.circle {
  width: 100%;
  height: 100%;
}

.row.main-card-row {
  /*padding-top: 15em;*/
  z-index: -1;
}

.row.card-head {
  position: relative;
  z-index: 1;
  /*height:15%;*/
}

.row.card-footer {
  /*width: 10%;*/
}

.card.main-card {
  height: 25em;
  position: relative;
  z-index: 1;
}

.display-pic {
  position: absolute;
  z-index: 5;
  top:2;
  height: 8em;
  width: 8em;
}

.social-links {
  position: absolute;
  bottom:3em;
  width:102%;
}

.card-footer {
  width: 100%;
}

ul {
  width:100%;
  height: 2.5em;
}

li {
  display: inline;
}

div[ng-view].ng-enter {
    transition: all 0.5s linear;
    opacity: 0;
}

div[ng-view].ng-leave {
    transition: all 0.5s ease-in linear;
    opacity: 1;
}

div[ng-view].ng-enter-active {
    opacity: 1;
}

div[ng-view].ng-leave-active {
    opacity: 0;
}