.row.display-pic-row {
  padding-top: 10em;
}

.row.main-card-row {
  z-index: -1;
}

.row.card-head {
  position: relative;
  z-index: 1;
}

.card.main-card {
  z-index: 1;
}

.parent-display-pic {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: center;
}

.display-pic {
  position: absolute;
  z-index: 5;
  width: 8em;  
  height: 8em; 
  margin: auto;  
  margin-top: -1em;
  margin-left: -4em;
}

.display-pic span.text-content {
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.5);
  width: 8em;
  height: 8em;
  color: white;
  cursor: pointer;
  position: absolute;
  display: table;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.display-pic:hover span.text-content {
  opacity: 1;
}

.social-links {
  position: relative;
  bottom:0.5em;
  height:2.5em;
}

.icons {
  margin: 1.2em;
}

.text {
  font-size: 1.2em;
}

.timeline-series {
  border-left: 2px solid #CCC;
}

.timeline-time {
  margin-left: -1em;
}

.timeline-series dd h3 {
  color: #000;
}

li a {
  text-decoration: none;
  color: #fff;
}

ul {
  width:100%;
}

li {
  display: inline;
}

div[ng-view].ng-enter {
    transition: all 0.5s linear;
    opacity: 0;
}

div[ng-view].ng-leave {
    transition: all 0.5s ease-in linear;
    opacity: 1;
}

div[ng-view].ng-enter-active {
    opacity: 1;
}

div[ng-view].ng-leave-active {
    opacity: 0;
}

.timeline-series dt a:hover {
  color: #fff;
}

.timeline-series dt a {
  color: #fff;
  cursor: pointer;
}

.timeline-series dt {
  font-size: 1em;
}

.timeline-container {
  width: 100% !important;
}

.year {
  color: #fff;
  border-radius: 0.2em;
  cursor: pointer;
}

.work-designation {
  border-radius: 0.2em;
}

.timeline-toggle {
  background: #26A69A none repeat scroll 0% 0%;
  border-color: inherit;
  color: #fff;
  font-size: 0.6em;
  margin-right: 0px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-error-message {
  color: red;
}

.wrap-mail {
  word-wrap: break-word;
}

.move-to-top {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 5em;
  margin-bottom: 5em;
}

.timeline-series dt {
  white-space: normal;
}

@media screen and (max-width: 768px) {
  .display-pic {
    /*position: relative;*/
    margin: 0 40%;
  }
  .row.main-card-row {
    padding-top: 5em;
  }
  .row.display-pic-row {
    padding-top: 5em;
  }
  .social-links {
    height: 2em;
  }
  .timeline-series {
    width: 20%;
  }
  .timeline-event-content p {
    width: 180%;
  }
  .work-designation {
    font-size: 0.7em;
  }
  .display-pic {
    width: 6em;  
    height: 6em;  
    margin-top: -3em;
    margin-left: -3em;
  }
  .display-pic span.text-content {
    width: 6em;
    height: 6em;
  }
  .move-to-top {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
  }
}

@media screen and (max-width: 600px) {
  .social-links {
    height: 4em;
  }
  .timeline-event-content p {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .timeline-series {
    width: 20%;
  }
  .work-designation {
    font-size: 0.7em;
  }
}