<div>  
  <h3 class="teal darken-1"><span class="btn-large waves-effect waves-light hoverable">About</span></h3>
  <div class="row">
    <div class="card-content left-align col s10 offset-s1">
      <div class="center-align">Hi, I'm <strong>Sanyam!</strong> Also known as <strong>CuriousLearner.</strong></div><br>
      <p>A self-taught programmer with a "can-do" attitude who developed his interest in Computer Science and Software Development over the years. Enjoy taking challenges and <i class="teal lighten-4">developing beautiful, functional, responsive and easy-to-use products.</i> <br><br>The best place to find Sanyam is in front of his system. When he is not getting his hands dirty with code, he likes to hang around with like-minded people to share his knowledge and learn more.<br><br><strong class="teal lighten-4">A vouched Mozillian, Technical SIG Lead at Mozilla Delhi</strong> who delivered talks on various open source technologies.</p><br><br>
      <p class="center-align teal lighten-4">That's all for the day, time for you to meet the PASSIONATE GEEK who believes there are no problems we can't solve together.</p><br>
      <div class="center-align">
        <div class="btn-large">Let's catch up!</div>
      </div>
    </div>
  </div>
</div>