<div>  
  <h3 class="teal darken-1"><span class="btn-large waves-effect waves-light hoverable">About</span></h3>
  <div class="card-content left-align">
    <p>In the virtual world, I'm know as CuriousLearner. A self-taught programmer, who developed his interest in Computer Science and software development over the years. Often can be found around like-minded people to share and learn more. I'm a FOSS Enthusiast and have been associated with organizations like Mozilla and delivered talks on various technologies. Learning is a two-way process and this sharing and contribution helped me to become Technical SIG Lead at Mozilla Delhi.</p>
    <p class="center-align">That's all for the day, I'm a nice guy! Why not have a quick chat with me?</p>
    <div class="center-align">
      <div class="btn-large">Contact Me</div>
    </div>
  </div>
</div>