<div>  
  <h3 class="teal darken-1"><span class="btn-large waves-effect waves-light hoverable">Contact</span></h3>
  <div class="row">
    <h5 class="col s10 offset-s1">You can reach me by simply filling the form below. Alternatively you can drop a mail to <br>Sanyam.Khurana@TheGeekyWay.com<br>or<br>me@SanyamKhurana.net</h5>
  </div>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s5 offset-s1">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s5">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s10 offset-s1">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s10 offset-s1">
          <textarea id="message" class="materialize-textarea"></textarea>
          <label for="textarea">Message</label>
        </div>
      </div>
    </form>
  </div>   
</div>