<div>  
  <h3 class="teal darken-1"><span class="btn-large waves-effect waves-light hoverable">Projects</span></h3>
  <div class="row">
    <div class="card-content center-align col s10 offset-s1">
      <p>Sanyam works by the rule that he has just achieved 0.1%.</p><p>Here are some of his Open Source projects he had worked/currently working on. Freelancing work and internship work which are closed source are not included here. Rest contributions can be found on:</p><br>
      <p><iframe src="http://githubbadge.appspot.com/CuriousLearner" style="border: 0;overflow: hidden;" frameBorder="0"></iframe></p>
      <p>To get a taste of Sanyam's code, you can visit the corresponding GitHub repo.</p>
    </div>
    <div class="card-content col s10 offset-s1">
      <div class="row">
        <div class="col s12 m6">
          <div class="card teal hoverable">
            <div class="card-content white-text">
              <span class="card-title">TrackMyLinks</span>
              <p class="left-align">Many times, I find some cool stuff to read/refer later, but management of these resources is always cumbersome. So, I developed this app which consists of a REST API using Flask in back-end and powered by Angular JS in front-end.</p>
            </div>
            <div class="card-action">
              <a href="https://github.com/CuriousLearner/TrackMyLinks" target="_blank">GitHub Repo</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card teal hoverable">
            <div class="card-content white-text">
              <span class="card-title">TagLask</span>
              <p class="left-align">A light weight webapp made on Flask to index and search user files. Give it a directory and it would recursively traverse your files and attach tags to them. You can then search files through combination of tags and filename using RegEx.</p>
            </div>
            <div class="card-action">
              <a href="https://github.com/CuriousLearner/TagLask" target="_blank">GitHub Repo</a>
            </div>
          </div>
        </div>

      </div><!--Row End-->

      <div class="row">
        <div class="col s12 m6">
          <div class="card teal hoverable">
            <div class="card-content white-text">
              <span class="card-title">MozPacers.org</span>
              <p class="left-align">I've developed the entire back-end of official site of MozPacers (Mozilla Delhi) community which includes REST API in Flask along with MongoDB for persistence. I've also worked on overall styling and some features on the front-end.</p>
            </div>
            <div class="card-action">
              <a href="http://mozpacers.org/" target="_blank">MozPacers.org</a>
              <a href="https://github.com/Mozpacers/Mozpacers.github.io/" target="_blank">GitHub Repo</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card teal hoverable">
            <div class="card-content white-text">
              <span class="card-title">PyDelhi.org</span>
              <p class="left-align">I've been contributing to various repos under the PyDelhi (Python Delhi Users Group) community.</p>
            </div>
            <div class="card-action">
              <a href="https://github.com/PyDelhi" target="_blank">GitHub Community</a>
            </div>
          </div>
        </div>

      </div><!--Row End-->

      <div class="row">
        <div class="col s12 m6">
          <div class="card teal hoverable">
            <div class="card-content white-text">
              <span class="card-title">Personal Site v1</span>
              <p class="left-align">The v1 of this site was made using Bootstrap3. You can have a look at the previous version of this site by visiting the link below</p>
            </div>
            <div class="card-action">
              <a href="http://www.SanyamKhurana.net/v1/" target="_blank">Personal Site v1</a>
              <a href="https://github.com/CuriousLearner/CuriousLearner.github.io/tree/master/v1" target="_blank">GitHub Repo</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card teal hoverable">
            <div class="card-content white-text">
              <span class="card-title">Personal Site v2</span>
              <p class="left-align">This site! Yes, this site itself is made using Materialize and Angular JS in front-end and Flask for Back-end.</p>
            </div>
            <div class="card-action">
              <a href="http://www.SanyamKhurana.net" target="_blank">Personal Site v2</a>
              <a href="https://github.com/CuriousLearner/CuriousLearner.github.io" target="_blank">GitHub Repo</a>
            </div>
          </div>
        </div>

      </div><!--Row End-->

    </div>
  </div>
</div>