<div>
  <h3 class="blue section-heading">Recommendations</h3>
  <h4>What people have to say about my work</h4>
    <div class="recommendations row">
      <div ng-repeat="rec in recommendations" class="recommendation card blue col s12 m6">
        <div class="recommender">
          <div class="rec-image"><img src="{{ rec.recommender.pictureUrl }}"></div>
          <div class="name"><b>{{ rec.recommender.firstName }}  {{ rec.recommender.lastName }}</b></div>
          <div class="headline"><b>{{ rec.recommender.headline }}</b></div>
        </div>
        <div class="rec-text">{{ rec.recommendationText }}</div>
      </div>
    </div>
</div>
