<div>  
  <h3 class="teal darken-1"><span class="btn-large waves-effect waves-light hoverable">Skills</span></h3>

  <div class="row">
    <div class="card-content left-align col s10 offset-s1">
      <p>Sanyam has a bunch of programming languages, libraries, frameworks et all. in his skill set but he believes that these are just tools which are chosen depending on the problem in hand. He chooses the right skill-set and implement a solution ensuring developement of efficient &amp; scalable systems.</p>
      <br>

      <p class="center-align">Skills are improving each day</p>
    </div>
  </div>
</div>