<div>
  <h3 class="blue section-heading">Talks & Presentations</h3>

  <div class="row">
    <div class="col s12 m10 offset-m1">
      <p class="center-align" style="margin-bottom: 30px;">I love sharing knowledge at conferences and meetups. Here are some of my talks on Python, Django, and software engineering.</p>

      <!-- Featured Talks with Videos -->
      <h4 class="talks-section-title">Featured Talks</h4>

      <div class="row">
        <!-- DjangoCon US 2022 -->
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/lee9uKxzCcY" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="card-content">
              <span class="card-title">Method Resolution Order (MRO) in Python</span>
              <p class="talk-conference"><i class="fa fa-calendar"></i> DjangoCon US 2022</p>
              <p>A deep dive into how Python resolves method calls in complex inheritance hierarchies using the C3 linearization algorithm.</p>
            </div>
            <div class="card-action">
              <a href="https://www.youtube.com/watch?v=lee9uKxzCcY" target="_blank"><i class="fa fa-youtube-play"></i> Watch</a>
            </div>
          </div>
        </div>

        <!-- DjangoCon US 2018 -->
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/aiZ_1gsS4F8" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="card-content">
              <span class="card-title">Becoming a Multilingual SuperHero in Django</span>
              <p class="talk-conference"><i class="fa fa-calendar"></i> DjangoCon US 2018</p>
              <p>Learn how to internationalize and localize your Django applications to reach a global audience.</p>
            </div>
            <div class="card-action">
              <a href="https://2018.djangocon.us/talk/becoming-a-multilingual-superhero-in/" target="_blank"><i class="fa fa-external-link"></i> Details</a>
              <a href="https://www.youtube.com/watch?v=aiZ_1gsS4F8" target="_blank"><i class="fa fa-youtube-play"></i> Watch</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- PyCon AU 2018 -->
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/go7JklZRtrs" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="card-content">
              <span class="card-title">Becoming a Multilingual SuperHero in Django</span>
              <p class="talk-conference"><i class="fa fa-calendar"></i> PyCon AU / DjangoCon AU 2018</p>
              <p>Presented at Australia's premier Python conference, covering Django's powerful i18n capabilities.</p>
            </div>
            <div class="card-action">
              <a href="https://2018.pycon-au.org/talks/44212-becoming-a-multilingual-superhero-in-django/" target="_blank"><i class="fa fa-external-link"></i> Details</a>
              <a href="https://www.youtube.com/watch?v=go7JklZRtrs" target="_blank"><i class="fa fa-youtube-play"></i> Watch</a>
            </div>
          </div>
        </div>

        <!-- PyGotham 2020 -->
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Introduction to Metaclasses in Python</span>
              <p class="talk-conference"><i class="fa fa-calendar"></i> PyGotham NYC 2020</p>
              <p>Demystifying Python metaclasses - understanding how classes create classes and practical use cases.</p>
            </div>
            <div class="card-action">
              <a href="https://2020.pygotham.tv/speakers/sanyam-khurana/" target="_blank"><i class="fa fa-external-link"></i> Details</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Other Talks -->
      <h4 class="talks-section-title">More Talks</h4>

      <div class="row">
        <!-- PyDelhi 2017 -->
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Optimizing Django for High Performance Systems</span>
              <p class="talk-conference"><i class="fa fa-calendar"></i> PyDelhi Conf 2017</p>
              <p>Strategies and techniques for building scalable, high-performance Django applications.</p>
            </div>
            <div class="card-action">
              <a href="https://cfp.pydelhi.org/pydelhi-conference-2017/proposals/optimizing-django-for-building-high-performance-systems~b68ne/" target="_blank"><i class="fa fa-external-link"></i> Details</a>
            </div>
          </div>
        </div>

        <!-- PyDelhi 2016 -->
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Mobile as a Microbit</span>
              <p class="talk-conference"><i class="fa fa-calendar"></i> PyDelhi Conf 2016</p>
              <p>Exploring creative ways to use mobile devices as microcontrollers for hardware projects.</p>
            </div>
            <div class="card-action">
              <a href="https://cfp.pydelhi.org/pydelhi-conference-2016/proposals/mobile-as-a-microbit~qaQle/" target="_blank"><i class="fa fa-external-link"></i> Details</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Software Freedom Day -->
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Open Source Journey</span>
              <p class="talk-conference"><i class="fa fa-calendar"></i> Software Freedom Day Chandigarh 2018</p>
              <p>Sharing my journey in open source and inspiring others to contribute to FOSS communities.</p>
            </div>
            <div class="card-action">
              <a href="https://softwarefreedomday.in/" target="_blank"><i class="fa fa-external-link"></i> Event</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Call to Action -->
      <div class="center-align" style="margin-top: 30px;">
        <p>Interested in having me speak at your conference or meetup?</p>
        <a href="#contact" class="btn-large waves-effect waves-light hoverable">Get in Touch</a>
      </div>
    </div>
  </div>
</div>
