<div>
  <h3 class="blue darken-1 section-heading">Work Experience</h3>
  <div class="row">
    <div class="card-content left-align col s10 offset-s1">
      <p>I've been contributing to a good number of projects which can be found on my <a href="https://github.com/CuriousLearner" target="_blank"><i class="zmdi zmdi-github zmdi-hc-2x"></i>Github</a> and <a href="https://bitbucket.org/CuriousLearner/" target="_blank">Bitbucket</a> accounts.</p>
      <p>Below you can see complete timeline of my experience</p>
      <br>
        <div id="timeline" class="timeline-container noselect">

          <button class="timeline-toggle btn waves-effect waves-light hoverable btn">+ expand all</button>

          <br class="clear">

          <div class="timeline-wrapper">
            <h4 class="timeline-time"><span class="blue darken-2 year waves-effect waves-light">2016</span></h4>
            <dl class="timeline-series">
              <dt id="ZOPPERFT" class="timeline-event"><a class="blue lighten-1 work-designation waves-effect waves-light">Software Developer at Zopper</a></dt>
              <dd class="timeline-event-content" id="ZOPPERFTEX">
                <h5>July 2016 - Present | 1+ Year</h5>
                <p>
                  - Implemented data pipeline using Amazon SQS &amp; SNS to sync all data from POS App to Zopper Systems.<br>
                  - Developed Auto Trigger Push Notifications based on user actions and in-actions.<br>
                  - Developed In-App notifications that are consumed via RESTful API by Android &amp; iOS apps.<br>
                  - Integrated Payment Gateway like ZestMoney which is consumed via RESTful APIs by Android &amp; iOS apps.<br>
                  - Developing Zopper Connect; experienced in doing various third-party integrations.<br></p>
                  <br class="clear">
              </dd><!-- /.timeline-event-content -->
            </dl><!-- /.timeline-series -->
          </div><!-- /.timeline-wrapper -->

          <div class="timeline-wrapper">
            <h4 class="timeline-time"><span class="blue darken-2 year waves-effect waves-light">2015</span></h4>
            <dl class="timeline-series">
              <dt id="ZOPPER" class="timeline-event"><a class="blue lighten-1 work-designation waves-effect waves-light">Developer Intern at Zopper</a></dt>
              <dd class="timeline-event-content" id="ZOPPEREX">
                <h5>June 2015 - August 2015 | 2 Months</h5>
                <p>
                  Zopper is a hyper-local mobile marketplace enabling users to discover &amp; buy products from their nearest retail stores sitting at the comfort of their home or office.<br><br>Developed a RESTful API using Flask and MongoDB for Campaigns and Banners Management along with an admin panel.<br><br>Developed Warranty Management System (WMS) and Invoice listing panel using AngularJS.<br><br></p>

                  <br class="clear">
              </dd><!-- /.timeline-event-content -->
              <br>
              <dt id="TLMOZD" class="timeline-event"><a class="blue lighten-1 work-designation waves-effect waves-light">Technical SIG Lead at Mozilla Delhi</a></dt>
              <dd class="timeline-event-content" id="TLMOZDEX">
                <h5>April 2015 - Present</h5>
                <p>
                  A <a href="https://mozillians.org/en-US/u/CuriousLearner/" target="_blank">Vouched Mozillian</a>; Technical SIG <a href="https://wiki.mozilla.org/Mozilla_Delhi/Technical_Contributors#Leads" target="_blank">Lead of Mozilla Delhi (MozPacers)</a> community.<br><br>Developed the entire backend of mozpacers.org which includes a REST API implemented in Flask and integrated with MongoDB for persistence. Also contributed in various Mozilla projects such as Stumbler, WebMaker etc.<br><br></p>

                  <br class="clear">
              </dd><!-- /.timeline-event-content -->
            </dl><!-- /.timeline-series -->
          </div><!-- /.timeline-wrapper -->

          <div class="timeline-wrapper">
            <h4 class="timeline-time"><span class="blue darken-2 year waves-effect waves-light">2014</span></h4>
            <dl class="timeline-series">
              <dt id="CAHR" class="timeline-event"><a class="blue lighten-1 work-designation waves-effect waves-light">Campus Ambassador at HackerRank</a></dt>
              <dd class="timeline-event-content" id="CAHREX">
                <h5>November 2014 - Present</h5>
                <p>I am HackerRank Campus Ambassador for NIEC, Delhi. Focussing on promoting competitive programming throughout the campus and building a network of like-minded Hackers to enhance our skills.<br><br></p>

                <br class="clear">
              </dd><!-- /.timeline-event-content -->
              <br>
              <dt id="MSA" class="timeline-event"><a class="blue lighten-1 work-designation waves-effect waves-light">Microsoft Student Associate</a></dt>
              <dd class="timeline-event-content" id="MSAEX">
                <h5>June 2014 - Present</h5>
                <p>
                  Microsoft Student Associates are Technology Enthusiasts who represent their local campus. They act as a catalyst to create a social impact and make students aware about the ever evolving technology.<br><br><br><br></p>

                  <br class="clear">
              </dd><!-- /.timeline-event-content -->
              <br>
              <dt id="NIC" class="timeline-event"><a class="blue lighten-1 work-designation waves-effect waves-light">Summer Trainee at NIC</a></dt>
              <dd class="timeline-event-content" id="NICEX">
                <h5>June 2014 - July 2014</h5>
                <p>
                  I worked at NIC (National Informatics Center) as Summer Trainee to develop a feedback module embedded in Plone(Zope) via Python as a major programming language. It includes feedback form and displaying data dynamically in a tabular format on a webpage.<br><br></p>

                  <br class="clear">
              </dd><!-- /.timeline-event-content -->
            </dl><!-- /.timeline-series -->
          </div><!-- /.timeline-wrapper -->

          <div class="timeline-wrapper">
            <h4 class="timeline-time"><span class="blue darken-2 year waves-effect waves-light">2012</span></h4>
            <dl class="timeline-series">
              <dt id="FB" class="timeline-event"><a class="blue lighten-1 work-designation waves-effect waves-light">Freelancer Blogger</a></dt>
              <dd class="timeline-event-content" id="FBEX">
                <h5>May 2012 - July 2015</h5>
                <p>
                  Written tech news and articles for top blogs of India, including but not limited to ShoutMeLoud, ShoutMeTech, CrazyEngineers et all.<br><br></p>

                <br class="clear">
              </dd><!-- /.timeline-event-content -->
            </dl><!-- /.timeline-series -->
          </div><!-- /.timeline-wrapper -->

          <br class="clear">

          <button class="timeline-toggle btn waves-effect waves-light btn">+ expand all</button>


        </div>
    </div>
  </div>
</div>