<div>
  <h3 class="blue darken-1 section-heading">Work Experience</h3>
  <div class="row">
    <div class="card-content left-align col s12 m10 offset-m1">
      <p class="center-align">I've been contributing to a good number of projects which can be found on my <a href="https://github.com/CuriousLearner" target="_blank"><i class="zmdi zmdi-github"></i> Github</a> and <a href="https://bitbucket.org/CuriousLearner/" target="_blank">Bitbucket</a> accounts.</p>
      <br>

      <div class="work-timeline">
        <!-- 2018 -->
        <div class="work-timeline-item">
          <div class="work-timeline-dot"></div>
          <div class="work-timeline-date">
            <span class="work-year">2018</span>
          </div>
          <div class="work-timeline-content card">
            <div class="card-content">
              <span class="card-title"><i class="fa fa-code"></i> GSoC Mentor at Debian</span>
              <p class="work-duration"><i class="fa fa-calendar"></i> May 2018 - August 2018</p>
              <p>We worked on developing New Contributor Wizard to help newbies getting started with various Open Source tools.</p>
            </div>
          </div>
        </div>

        <!-- 2014 - HackerRank -->
        <div class="work-timeline-item">
          <div class="work-timeline-dot"></div>
          <div class="work-timeline-date">
            <span class="work-year">2014</span>
          </div>
          <div class="work-timeline-content card">
            <div class="card-content">
              <span class="card-title"><i class="fa fa-trophy"></i> Campus Ambassador at HackerRank</span>
              <p class="work-duration"><i class="fa fa-calendar"></i> November 2014 - June 2016</p>
              <p>HackerRank Campus Ambassador for NIEC, Delhi. Focused on promoting competitive programming throughout the campus and building a network of like-minded Hackers to enhance our skills.</p>
            </div>
          </div>
        </div>

        <!-- 2014 - Microsoft -->
        <div class="work-timeline-item">
          <div class="work-timeline-dot"></div>
          <div class="work-timeline-date">
            <span class="work-year">2014</span>
          </div>
          <div class="work-timeline-content card">
            <div class="card-content">
              <span class="card-title"><i class="fa fa-windows"></i> Microsoft Student Associate</span>
              <p class="work-duration"><i class="fa fa-calendar"></i> June 2014 - May 2016</p>
              <p>Microsoft Student Associates are Technology Enthusiasts who represent their local campus. They act as a catalyst to create a social impact and make students aware about the ever evolving technology.</p>
            </div>
          </div>
        </div>

        <!-- 2012 -->
        <div class="work-timeline-item">
          <div class="work-timeline-dot"></div>
          <div class="work-timeline-date">
            <span class="work-year">2012</span>
          </div>
          <div class="work-timeline-content card">
            <div class="card-content">
              <span class="card-title"><i class="fa fa-pencil"></i> Freelance Blogger</span>
              <p class="work-duration"><i class="fa fa-calendar"></i> May 2012 - July 2015</p>
              <p>Written tech news and articles for top blogs of India, including but not limited to ShoutMeLoud, ShoutMeTech, CrazyEngineers et all.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
