<div>
  <h3 class="blue darken-1 section-heading">Work Experience</h3>
  <div class="row">
    <div class="card-content left-align col s10 offset-s1">
      <p>I've been contributing to a good number of projects which can be found on my <a href="https://github.com/CuriousLearner" target="_blank"><i class="zmdi zmdi-github zmdi-hc-2x"></i>Github</a> and <a href="https://bitbucket.org/CuriousLearner/" target="_blank">Bitbucket</a> accounts.</p>
      <p>Below you can see complete timeline of my experience</p>
      <br>
        <div id="timeline" class="timeline-container noselect">

          <button class="timeline-toggle btn waves-effect waves-light hoverable btn">+ expand all</button>

          <br class="clear">

          <div class="timeline-wrapper">
            <h4 class="timeline-time"><span class="blue darken-2 year waves-effect waves-light">2018</span></h4>
            <dl class="timeline-series">
              <dt id="GSOCDEB" class="timeline-event"><a class="blue lighten-1 work-designation waves-effect waves-light">GSoC Mentor at Debian</a></dt>
              <dd class="timeline-event-content" id="GSOCDEBEX">
                <h5>May 2018 - August 2018</h5>
                <p>
                  We worked on developing New Contributor Wizard to help newbies getting started with various Open Source tools.
                </p>
                <br class="clear">
              </dd><!-- /.timeline-event-content -->
            </dl><!-- /.timeline-series -->
          </div><!-- /.timeline-wrapper -->

          <div class="timeline-wrapper">
            <h4 class="timeline-time"><span class="blue darken-2 year waves-effect waves-light">2014</span></h4>
            <dl class="timeline-series">
              <dt id="CAHR" class="timeline-event"><a class="blue lighten-1 work-designation waves-effect waves-light">Campus Ambassador at HackerRank</a></dt>
              <dd class="timeline-event-content" id="CAHREX">
                <h5>November 2014 - June 2016</h5>
                <p>I am HackerRank Campus Ambassador for NIEC, Delhi. Focussing on promoting competitive programming throughout the campus and building a network of like-minded Hackers to enhance our skills.<br><br></p>

                <br class="clear">
              </dd><!-- /.timeline-event-content -->
              <br>
              <dt id="MSA" class="timeline-event"><a class="blue lighten-1 work-designation waves-effect waves-light">Microsoft Student Associate</a></dt>
              <dd class="timeline-event-content" id="MSAEX">
                <h5>June 2014 - May 2016</h5>
                <p>
                  Microsoft Student Associates are Technology Enthusiasts who represent their local campus. They act as a catalyst to create a social impact and make students aware about the ever evolving technology.<br><br><br><br></p>

              </dd><!-- /.timeline-event-content -->
            </dl><!-- /.timeline-series -->
          </div><!-- /.timeline-wrapper -->

          <div class="timeline-wrapper">
            <h4 class="timeline-time"><span class="blue darken-2 year waves-effect waves-light">2012</span></h4>
            <dl class="timeline-series">
              <dt id="FB" class="timeline-event"><a class="blue lighten-1 work-designation waves-effect waves-light">Freelancer Blogger</a></dt>
              <dd class="timeline-event-content" id="FBEX">
                <h5>May 2012 - July 2015</h5>
                <p>
                  Written tech news and articles for top blogs of India, including but not limited to ShoutMeLoud, ShoutMeTech, CrazyEngineers et all.<br><br></p>

                <br class="clear">
              </dd><!-- /.timeline-event-content -->
            </dl><!-- /.timeline-series -->
          </div><!-- /.timeline-wrapper -->

          <br class="clear">

          <button class="timeline-toggle btn waves-effect waves-light btn">+ expand all</button>


        </div>
    </div>
  </div>
</div>
