<div>
  <h3 class="blue darken-1 section-heading">Projects</h3>
  <div class="row">
    <div class="card-content center-align col s10 offset-s1">
      <p>Sanyam works by the rule that he has just achieved 0.1%.</p><p>Here are some of his Open Source projects he had worked/currently working on. This also includes closed source projects that were done at Georgia Tech as part of Master's degree in Computer Science.</p><br>
      <p>To get a taste of Sanyam's code, you can visit the corresponding GitHub repo.</p>
    </div>
    <div class="card-content col s10 offset-s1">
      <div class="row">
        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">AI Agent: Ravens Progressive Matrices</span>
              <p class="left-align">I developed a bot in Python that can solve Raven's progressive Matrices just like humans do. It attempted every problem thrown at it and was able to solve approx 80% of the problems correctly. It was developed as part of Knowledge Based Artificial Intelligence course at GaTech and was recognized as one of the top agents in the class with comments like: "Amazing formatting on this paper, probably the best I have ever seen."</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">Human-Computer Interaction: Improvement in Github Interface</span>
              <p class="left-align">As part of Human-Computer Interaction course, I conducted a survey for a project to improve Github's interface. Various mock-ups for new features were developed.</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">Human-Computer Interaction: Improvement in Airbnb's Interface</span>
              <p class="left-align">I conducted a research and prepared mockups for improvement in the AirBnB's interface as part of project in Human-Computer Interaction course at GaTech.</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">BGP Hijacking Attacks</span>
              <p class="left-align">I used mininet implementation to mock Autonomous System and then wrote the configuration where one AS pollutes the network through false BGP announcement by advertising a shorter path to reach a particular IP prefix which causes victim ASes to attempt to use the newly advertertised route. Later I also designed ways to mitigate the issue. This was done as part of Computer Network course at GaTech.</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">Implementing a Firewall using Software Defined Networking (SDN)</span>
              <p class="left-align">I used Pyretic to implement a black-listing firewall to block traffic to the system. This project was written in Python 2.7 as part of Computer Network course at GaTech.</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">Distance Vector Routing</span>
              <p class="left-align">Implemented Bellman-Ford algorithm using a mininet implementation in Python to route traffic through a network and test it against a bunch of valid and invalid network topologies. This project was implemented as part of Computer Networks subject at GaTech.</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">Buffer Bloat Problem</span>
              <p class="left-align">Implemented buffer bloat problem using mininet implementation and studied the performance difference between TCP Reno and TCP Cubic as part of Computer Network course at GaTech.</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">Spanning Tree protocol with Network switches</span>
              <p class="left-align"> I implemented a distributed algorithm with formal communication rules that enables network nodes to build up a global picture of the network topology using only local message passing. The Spanning Tree Protocol solves the problem of providing redundancy and resilience in a computer network while avoiding infinitely looping communications and broadcast storms. This was done as part of Computer Networks course at GaTech.</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">Supervised Machine Learning</span>
              <p class="left-align">Implemented a framework to study the performance of different supervised-learning algorithms, namely, Decision Trees, Neural Networks, Boosting, SVM and KNN. Different hyper-parameters were tuned and their performance was analyzed with respect to two datasets. This was a part of Machine Learning course by Prof Charles Isbell at GaTech.</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">Randomized Optimization Algorithms</span>
              <p class="left-align">I implemented four local random search algorithms namely, RHC (Random-Hill Climbing), Simulated Annealing, GA (Genetic Algorithm) and MIMIC. This was implemented along with a paper as part of Machine Learning course by Prof. Charles Isbell at GaTech.</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">Unsupervised learning and Dimensionality Reduction</span>
              <p class="left-align">I implemented dimensionality reduction on two different datasets and studied the performance difference with clustering alone, dimensionality reduction along with clustering, dimensionality reduction with neural networks and clustering along with neural networks. This was done as part of Machine Learning course by Prof. Charles Isbell at GaTech.</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">MDPs, Value Iteration & Policy Iteration</span>
              <p class="left-align">I implemented Value Iteration and Policy iteration on Markov Decision processes using Python. This was done as part of Machine Learning course by Prof. Charles Isbell at Georgia Tech.</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">Martingale</span>
              <p class="left-align">I implemented Martingale using Python and then this trading strategy was studied by determining the number of winnings with respect to the number of spins of the wheel. The project used finite bank roll and infinite bank roll simulator to study the difference between the strategy using mean, mean + std-dev and mean - std-dev of the winning amount by the gambler. This was implemented as part of project in Machine Learning for Trading course by Prof. David Joyner at GaTech.</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">Optimizing stock portfolio</span>
              <p class="left-align">A portfolio consisting of four stocks was optimized and it's performance was studied with respect to SPY over a period of time. This project was implemented in Python as part of Machine Learning for Trading course by Prof. David Joyner at GaTech.</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">Assess Learner</span>
              <p class="left-align">I implemented DTLearner and RTLearner and studied the performance difference between two using a dataset where In-Sample and out-of sample MAPE were taken into consideration. This was implemented as part of Machine Learning for Trading course by Prof. David Joyner at GaTech.</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">Defeat Learners</span>
              <p class="left-align">The goal of this project was to generate two sets of data using Python where one set will work better with a linear regression learner and the other set works better with a decision tree learner. This was implemented as part of Machine Learning for Trading course by Prof. David Joyner at GaTech.</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">Marketism</span>
              <p class="left-align">Using Python, Pandas and Numpy, I implemented a simulator that takes in the order from a CSV file and executes it against a portfolio and keeps track of in-hand cash, commission charges & market impact of trading. This simulator was then enhanced by calculating transaction costs for orders. This was implemented as part of Machine Learning for Trading course by Prof. David Joyner at GaTech</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">Manual Trading strategy</span>
              <p class="left-align">I implemented a trading strategy using different technical indicators. This was a manual trade strategy using Python, Pandas and Numpy. This was implemented as part of Machine Learning for Trading course by Prof. David Joyner at GaTech</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">QLearning Robot</span>
              <p class="left-align">I implemented a Q-Learner along with a Q-learner using Dyna-Q strategy. It was coded in Python using Pandas and Numpy. This was implemented as part of Machine Learning for Trading course by Prof. David Joyner at GaTech</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">Strategy Learner</span>
              <p class="left-align">As part of final project, I implemented a strategy learner that learns trading and then executes orders taking into account the adjust closing prices of the stocks. It maintains the portfolio value and then also back-test against it's own commands. This was implemented as part of Machine Learning for Trading course by Prof. David Joyner at GaTech</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">AI: Ethics</span>
              <p class="left-align">I studied various bias that creep into ML/AI systems and techniques to mitigate those issues. I used Python along with AIF-360 toolkit to study the bias in dataset and then mitigate it. This was done as part of AI, Ethics and Society course at GaTech by Prof. Dr. Ayanna Howard.</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">AI for Robotics: Asteroids</span>
              <p class="left-align">In this project I used localization techniques to determine the position of my ship and the asteroids in space. The measurment of the distance of the ship from asteroid always contained Gaussian noise. The goal was to then navigate the ship to a safe location without hitting any of the asteroids in the field by determining the next move of the ship at each time step. Approx 5% of the asteroids had a returning tendency from their path. This was implemented in Python using turtle graphics as part of AI for Robotics course by Prof. Jay Summet at GaTech.</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">AI for Robotics: Mars Glider</span>
              <p class="left-align">In this project, our glider is ejected from a rocket near (0,0) mark but randomly at +/- 250 m. The goal is to localize the glider and glide it safely to landing position before the time runs out. The glider moved at 5m/sec and falls at 1m/sec. We used readings from the barometric sensor to determine the exact location of the glider and land it succesfully on Mars. This was implemented in Python using turtle graphics as part of AI for Robotics course by Prof. Jay Summet at GaTech.</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">AI for Robotics: Rocket PID</span>
              <p class="left-align">In this project I implemented a PID (Proportional, Integrative and Derivative) controller to succesfully land a rocket. PID controllers are used at a lot of places. Specifically drones have PID controllers that help them in landing. I implemented twiddle to determine the ratio of fuel to be used and land the liquid rocket engine with precise control of the pressure for feed system of liquid oxidizer and fuel into the engine turbopumps. This was implemented in Python using turtle graphics as part of AI for Robotics course by Prof. Jay Summet at GaTech.</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">AI for Robotics: Warehouse</span>
              <p class="left-align">In this project, I developed a delivery planner for a warehouse, whose task was to locate packages, pick them up and deliver them to the drop-zone. The robot had to avoid collision with walls and develop the best route for navigation and delivering all the boxes to dropzone. This was implemented in Python using turtle graphics as part of AI for Robotics course by Prof. Jay Summet at GaTech.</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">AI for Robotics: Gem Finder</span>
              <p class="left-align">In this project, I implemented SLAM (Simultaneous Localization and Mapping) to determine the position of my robot and simultaneously trying to understand the environment I was in. Using this information, I navigated my robot to explore the space, find gems and then extract them from the environment. The idea was to maximize the search space and extract all the gems present without losing the track of the robot. This was implemented in Python using turtle graphics as part of AI for Robotics course by Prof. Jay Summet at GaTech.</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">Data & Visual Analytics</span>
              <p class="left-align">This was a group project where we developed a web app to gather information on buying and renting houses in California. This web app used ML algorithms to determine the price trend, crime trend in the cities and then plot it on the map using leaflet JS. It consumed data from CSV files as well as Zillow API and then peform analysis on the data. We then further used this data to plot maps, and provide interactive visualization of prices, crime-rate, geographical and non-geographical features of a city. These visualizations were done using D3 JS. This was implemented as part of Data and Visual Analytics course by Prof. Polo Chau at GaTech</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">Confluence</span>
              <p class="left-align">Confluence is a Conference management software to automate various workflows needed to organize conferences.</p>
            </div>
            <div class="card-action">
              <a href="https://github.com/CuriousLearner/Confluence" target="_blank">GitHub Repo</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">Standup</span>
              <p class="left-align">Have you ever forgotten what you exactly did 2 days ago and get baffled when someone asks about it? Then keep it tracked along all projects / teams in your organizations. Find out who is upto what in which team. It aims at automating standup meetings.</p>
            </div>
            <div class="card-action">
              <a href="https://github.com/CuriousLearner/Standup" target="_blank">GitHub Repo</a>
            </div>
          </div>
        </div>

      </div><!--Row End-->

      <div class="row">
        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">GeeksForGeeks Scrapper</span>
              <p class="left-align">Enables to scrape different categories in GeeksForGeeks site and create beautifully structured PDF and HTML books for offline reading.</p>
            </div>
            <div class="card-action">
              <a href="https://github.com/CuriousLearner/GeeksForGeeksScrapper" target="_blank">GitHub Repo</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">WatchYourZone</span>
              <p class="left-align">A hack on enabling journalists to monitor public health data and extract stories without manually going through thousand of PDF files. It was created during Delhi Editor's Lab in around 10 hours.</p>
            </div>
            <div class="card-action">
              <a href="https://github.com/CuriousLearner/watch_your_zone" target="_blank">GitHub Repo</a>
              <a href="http://www.SanyamKhurana.com/watch_your_zone" target="_blank">Live project</a>
            </div>
          </div>
        </div>

      </div><!--Row End-->

      <div class="row">
        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">Shopster</span>
              <p class="left-align">Shopster is very similar to an ERP system that aims at automating process at brick and mortar stores to help them competing with e-commerce revolution. It has two Android apps; one web app and API. I worked on developing API with Django REST framework.</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private right now</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">ParkIt</span>
              <p class="left-align">Parking automation through Android app. Designed REST API in Flask and MongoDB.</p>
            </div>
            <div class="card-action">
              <a href="#" target="_blank">Source code is private right now</a>
            </div>
          </div>
        </div>

      </div><!--Row End-->

      <div class="row">
        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">TrackMyLinks</span>
              <p class="left-align">Many times, I find some cool stuff to read/refer later, but management of these resources is always cumbersome. So, I developed this app which consists of a REST API using Flask in back-end and powered by Angular JS in front-end.</p>
            </div>
            <div class="card-action">
              <a href="https://github.com/CuriousLearner/TrackMyLinks" target="_blank">GitHub Repo</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">TagLask</span>
              <p class="left-align">A light weight webapp made on Flask to index and search user files. Give it a directory and it would recursively traverse your files and attach tags to them. You can then search files through combination of tags and filename using RegEx.</p>
            </div>
            <div class="card-action">
              <a href="https://github.com/CuriousLearner/TagLask" target="_blank">GitHub Repo</a>
            </div>
          </div>
        </div>

      </div><!--Row End-->

      <div class="row">
        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">MozPacers.org</span>
              <p class="left-align">I've developed the entire back-end of official site of MozPacers (Mozilla Delhi) community which includes REST API in Flask along with MongoDB for persistence. I've also worked on overall styling and some features on the front-end.</p>
            </div>
            <div class="card-action">
              <a href="http://mozpacers.org/" target="_blank">MozPacers.org</a>
              <a href="https://github.com/Mozpacers/Mozpacers.github.io/" target="_blank">GitHub Repo</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">PyDelhi.org</span>
              <p class="left-align">I've been contributing to various repos under the PyDelhi (Python Delhi Users Group) community.</p>
            </div>
            <div class="card-action">
              <a href="https://github.com/PyDelhi" target="_blank">GitHub Community</a>
            </div>
          </div>
        </div>

      </div><!--Row End-->

      <div class="row">
        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">Personal Site v1</span>
              <p class="left-align">The v1 of this site was made using Bootstrap3. You can have a look at the previous version of this site by visiting the link below</p>
            </div>
            <div class="card-action">
              <a href="http://www.SanyamKhurana.com/v1/" target="_blank">Personal Site v1</a>
              <a href="https://github.com/CuriousLearner/CuriousLearner.github.io/tree/master/v1" target="_blank">GitHub Repo</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue hoverable">
            <div class="card-content white-text">
              <span class="card-title">Personal Site v2</span>
              <p class="left-align">This site! Yes, this site itself is made using Materialize and Angular JS in front-end and Flask for Back-end.</p>
            </div>
            <div class="card-action">
              <a href="http://www.SanyamKhurana.com" target="_blank">Personal Site v2</a>
              <a href="https://github.com/CuriousLearner/CuriousLearner.github.io" target="_blank">GitHub Repo</a>
            </div>
          </div>
        </div>

      </div><!--Row End-->

    </div>
  </div>
</div>
