<div>  
  <h3 class="blue darken-1 section-heading">Skills</h3>

  <div class="row">
    <div class="card-content left-align col s10 offset-s1">
      <p>Sanyam has a bunch of programming languages, libraries, frameworks et all. in his skill set but he believes that these are just tools which are chosen depending on the problem in hand. He chooses the right skill-set (even if it means to learn completely new tools) and design a solution ensuring development of efficient &amp; scalable systems.</p>
      <br>
      <p class="center-align">Currently Sanyam is familiar with the following Tech Stack</p>
      <br>
      <p class="center-align"><i class="zmdi zmdi-rotate-right zmdi-hc-spin zmdi-hc-2x"></i> Skills are improving each day</p>
      
      <img src="images/html5.png" class="col s4 m3 l2 img-responsive circle waves-effect waves-light waves-effect waves-light icons" />
      <img src="images/css3.png" class="col s4 m3 l2 img-responsive circle waves-effect waves-light waves-effect waves-light icons" />
      <img src="images/python.png" class="col s4 m3 l2 img-responsive circle waves-effect waves-light waves-effect waves-light icons" />
      <img src="images/bootstrap.png" class="col s4 m3 l2 img-responsive circle waves-effect waves-light waves-effect waves-light icons" />
      <img src="images/angularjs.png" class="col s4 m3 l2 img-responsive circle waves-effect waves-light waves-effect waves-light icons" />
      <img src="images/c++.png" class="col s4 m3 l2 img-responsive circle waves-effect waves-light waves-effect waves-light icons"/>
      <img src="images/django.png" class="col s4 m3 l2 img-responsive circle waves-effect waves-light waves-effect waves-light icons" />
      <img src="images/materialize.png" class="col s4 m3 l2 img-responsive circle waves-effect waves-light waves-effect waves-light icons" />
      <img src="images/flask.png" class="col s4 m3 l2 img-responsive circle waves-effect waves-light waves-effect waves-light icons"/>
      <img src="images/jquery.png" class="col s4 m3 l2 img-responsive circle waves-effect waves-light waves-effect waves-light icons" />
      <img src="images/js.png" class="col s4 m3 l2 img-responsive circle waves-effect waves-light waves-effect waves-light icons" />
      <img src="images/java.png" class="col s4 m3 l2 img-responsive circle waves-effect waves-light waves-effect waves-light icons" />
      <br><br>
    </div>
  </div>
</div>